* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2vw !important;
  font-weight: 700 !important;
}
table {
  height: 100%;
  margin: 0 !important;
  text-align: center;
}
table th,
table td {
  width: 33.3%;
  vertical-align: middle;
  font-size: 2vw !important;
  line-height: 1.2 !important;
}
.backgroundColor {
  background: -webkit-linear-gradient(top, #071535 0%, #092a5f 35%, #0b4481 70%, #0000ffcc 100%);
  background: linear-gradient(to bottom, #071535 0%, #092a5f 35%, #0b4481 70%, #0000ffcc 100%);
  color: white !important;
}
.navbarContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 12vh;
}
.navbarContainer .logoContainer {
  padding: 1%;
}
.navbarContainer .logoContainer img {
  width: auto;
  height: auto;
  max-height: 100%;
}
.navbarContainer .titleTimeContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 2vw !important;
  line-height: 1.2 !important;
}
.navbarContainer .titleTimeContainer .titleContainer {
  margin-bottom: 5px;
}
.navbarContainer .titleTimeContainer .titleContainer,
.navbarContainer .titleTimeContainer .timeContainer {
  text-align: center;
}
.navbarContainer .hasMainContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 30%;
  font-size: 2vw !important;
  line-height: 1.2 !important;
}
.navbarContainer .hasMainContainer .hasContainer {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
.navbarContainer .hasMainContainer .hasContainer .alisContainer,
.navbarContainer .hasMainContainer .hasContainer .satisContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.navbarContainer .hasMainContainer .hasContainer .alisContainer .title,
.navbarContainer .hasMainContainer .hasContainer .satisContainer .title {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-right: 3%;
}
.navbarContainer .hasMainContainer .hasContainer .alisContainer .alis,
.navbarContainer .hasMainContainer .hasContainer .satisContainer .alis,
.navbarContainer .hasMainContainer .hasContainer .alisContainer .satis,
.navbarContainer .hasMainContainer .hasContainer .satisContainer .satis {
  width: 30%;
}
.navbarContainer .settingContainer {
  padding-bottom: 8px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: auto;
}
.navbarContainer .settingContainer button {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 4px 7px;
  font-size: 1.5vw !important;
  line-height: 1.2 !important;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
}
.content .tableContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-height: 0;
  margin-right: 1%;
}
.content .tableContent .flexTableContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-height: 0;
  margin-bottom: 1%;
}
.content .tableContent .flexTableContainer .card {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-right: 1%;
}
.content .tableContent .flexTableContainer .card:last-child {
  margin-right: 0;
}
.content .tableContent .flexTableContainer .card .card-body {
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.content .adContent {
  padding: 0.3%;
  width: 20%;
}
.content .adContent img {
  width: 100%;
  height: 100%;
}
.footerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: auto;
  min-height: 8vh;
}
.footerContainer .priceContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 30%;
  height: 100%;
  font-size: 2vw !important;
  line-height: 1.2 !important;
}
.footerContainer .priceContainer .alisContainer,
.footerContainer .priceContainer .satisContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.footerContainer .priceContainer .alisContainer .title,
.footerContainer .priceContainer .satisContainer .title {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-right: 2%;
}
.footerContainer .priceContainer .alisContainer .alis,
.footerContainer .priceContainer .satisContainer .alis,
.footerContainer .priceContainer .alisContainer .satis,
.footerContainer .priceContainer .satisContainer .satis {
  width: 40%;
}
