* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: clamp(12px, 2.3vw, 35px) !important;
  font-weight: 700 !important;
}

table {
  height: 100%;
  margin: 0 !important;
  text-align: center;

  th,
  td {
    width: 33.3%;
    align-content: center;
    font-size: clamp(12px, 2.5vw, 40px) !important;
    line-height: clamp(12px, 2.5vw, 40px) !important;
  }
}

.backgroundColor {
    background: linear-gradient(
        to bottom,
        #071535 0%,
        #092a5f 35%,
        rgb(11, 68, 129) 70%,
        #0000ffcc 100%
    );

    color: white !important;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;

  height: 12vh;
  // min-height: 12vh; /* daha tutarlı */

  .logoContainer {
    padding: 1%;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .titleTimeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;

    font-size: clamp(12px, 2.5vw, 40px) !important;
    line-height: clamp(12px, 2.5vw, 40px) !important;

    .titleContainer, 
    .timeContainer {
      text-align: center;
    }
  }

  .hasMainContainer {
    display: flex;
    align-items: center;
    width: 30%;
    
    font-size: clamp(12px, 2.5vw, 40px) !important;
    line-height: clamp(12px, 2.5vw, 40px) !important;

    .hasContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // Gap alabilmesi icin height almasi gerekli.
      height: 100%;

      .alisContainer,
      .satisContainer {
        display: flex;
        gap: 3%;
        
        .title {
          width: 50%;
          display: flex;
          justify-content: flex-end;
        }

        .alis,
        .satis {
          width: 30%;
        }
      }
    }
  }

  .settingContainer 5
    padding-bottom: 8px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    
    button {
      display: flex;
      align-items: center;

      background-color: white;
      color: black;
      border-radius: 10px;
      padding: 4px 7px;

      font-size: clamp(12px, 2vw, 28px) !important;
      line-height: clamp(12px, 2vw, 28px) !important;
    }
  }
}

.content {
  display: flex;
  gap: 1%;

  width: 100%;
  flex: 1; /* en kritik satır */
  overflow: hidden; /* dış overflow engelle */

  .tableContent {
    display: flex;
    flex-direction: column;
    gap: 1%;

    width: 80%;
    flex: 1;
    min-height: 0; /* flex child overflow bug fix */

    .flexTableContainer {
      display: flex;
      gap: 1%;

      width: 100%;
      flex: 1;
      min-height: 0; /* flex child overflow bug fix */

      .card {
        width: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .card-body {
          padding: 0;
          flex: 1;
        }
      }
    }
  }

  .adContent {
    padding: .3%;
    width: 20%;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footerContainer {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: auto;
  min-height: 8vh;

  .priceContainer {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;

    
    font-size: clamp(12px, 2.5vw, 40px) !important;
    line-height: clamp(12px, 2.5vw, 40px) !important;

    .alisContainer,
    .satisContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2%;

      width: 100%;
      height: 50%;

      .title {
        width: 60%;
        display: flex;
        justify-content: flex-end;
      }

      .alis,
      .satis {
        width: 40%;
      }
    }
  }
}