* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.table {
    margin: 0;
    padding: 0;
}

.backgroundColor {
    background: linear-gradient(
        to bottom,
        #071535 0%,
        #092a5f 35%,
        rgb(11, 68, 129) 70%,
        #0000ffcc 100%
    );

    color: white;
}

/* Küçük telefonlar */
@media screen and (max-width: 480px) {
    .mainFlexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }

    .navbarContent {
        border-radius: 5px;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .logoContainer {
            width: auto;
            height: 50px;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 1.4rem;
            }

            .time {
                font-size: 1.1rem;
            }
        }

        .hasContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .alisContainer,
            .satisContainer {
                font-size: 1.2rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;
        padding: 0 3px 0 3px;

        .tableContent {
            /* border: 1px solid green; */

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 5px;

            width: 100%;

            .card {
                padding: 0 10;
                .card-header {
                    padding: 1;
                }

                .card-body {
                    padding: 0;
                    margin: 0;
                }

                .table {
                    text-align: center;
                    width: 100%;
                }

                .table td,
                .table th {
                    padding: 2px;
                }
            }
        }

        .adContent {
            display: none;
        }
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        margin: 0 3px 0 3px;

        .footerContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

/* Tablet dikey */
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .mainFlexContainer {
        height: 100%;
        padding: 0 3px 0 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbarContent {
        border-radius: 5px;
        color: #fff;

        height: 15%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .logoContainer {
            width: auto;
            height: 80%;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 1.4rem;
            }

            .time {
                font-size: 1.1rem;
            }
        }

        .hasContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .alisContainer,
            .satisContainer {
                font-size: 1.2rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;

        .tableContent {
            /* border: 1px solid green; */

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 10px;

            width: 100%;
            height: auto;

            .card {
                padding: 0 10;
                .card-body {
                    padding: 0;
                    margin: 0;
                }

                .table {
                    width: 100%;
                }
            }
        }

        .adContent {
            display: none;
        }
    }
}

/* Full HD TV & 1366px üzeri büyük ekranlar */
@media screen and (min-width: 1600px) and (max-width: 2559px) {
    .mainFlexContainer {
        height: 100%;
        padding: 0 3px 0 3px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .navbarContent {
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        font-weight: 700;

        .logoContainer {
            padding: 5px;
            width: 200px;
            height: 200px;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

        .hasContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .alisContainer,
            .satisContainer {
                font-size: 2rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;

        .tableContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            width: 80%;
            height: 100%;

            .flexTableContainer {
                display: flex;
                gap: 20px;
            }

            .card {
                width: 50%;
                padding: 0 10;
                .card-body {
                    padding: 0;
                    margin: 0;
                }

                .table {
                    width: 100%;

                    text-align: center;
                    font-weight: 700;

                    font-size: 1.9rem;

                    th {
                        width: 33.3%;
                        padding: 0;
                    }

                    td {
                        padding: 0;
                    }
                }
            }
        }

        .adContent {
          display: block;
          width: 18%;
          height: 100%;
          margin: auto;
            object-fit: fill;

            img {
            border-radius: 5px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .footerContent {
        border-radius: 5px;
        margin: 0 3px 0 3px;

        display: flex;
        justify-content: space-around;

        font-weight: 700;
        font-size: 1.8rem;

        margin-bottom: 5px;
    }
}

/* 4K TV */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .mainFlexContainer {
        width: 100%;
        height: 100%;
        padding: 0 3px 0 3px;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .navbarContent {
        height: 15%;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        font-weight: 700;

        .logoContainer {
            width: 200px;
            height: 200px;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

        .hasContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .alisContainer,
            .satisContainer {
                font-size: 2rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        height: auto;

        .tableContent {
            display: flex;
            flex-direction: column;
            gap: 30px;

            width: 80%;
            height: 100%;

            .flexTableContainer {
                display: flex;
                gap: 20px;
            }

            .card {
                width: 50%;
                padding: 0 10;
                .card-body {
                    padding: 0;
                    margin: 0;
                }

                .table {
                    width: 100%;

                    text-align: center;
                    font-weight: 700;

                    font-size: 2.2rem;

                    th {
                        width: 33.3%;
                        padding: 5;
                    }

                    td {
                        padding: 5;
                    }
                }
            }
        }

        .adContent {
            display: block;
            width: 20%;
            height: 100%;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footerContent {
        height: auto;
        border-radius: 5px;
        margin: 0 3px 0 3px;

        display: flex;
        justify-content: space-around;
        text-align: center;

        font-size: 1.6rem;
    }
}

/* 4K ve üstü (8K vs.) */
@media screen and (min-width: 3840px) {
    .mainFlexContainer {
        width: 100%;
        height: 100%;
        padding: 0 3px 0 3px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .navbarContent {
        height: 15%;
        border-radius: 5px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        font-weight: 700;

        .logoContainer {
            width: 300px;
            height: 300px;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
        }

        .hasContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .alisContainer,
            .satisContainer {
                font-size: 4rem;
            }
        }
    }

    .content {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        height: auto;

        .tableContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 80%;
            height: 100%;

            .flexTableContainer {
                display: flex;
                gap: 20px;
            }

            .card {
                width: 50%;
                padding: 0 10;
                .card-body {
                    padding: 0;
                    margin: 0;
                }

                .card-header {
                    font-size: 2rem;
                }

                .table {
                    width: 100%;

                    text-align: center;
                    font-weight: 700;

                    font-size: 4.2rem;

                    th {
                        width: 33.3%;
                        padding: 5;
                    }

                    td {
                        padding: 5;
                    }
                }
            }
        }

        .adContent {
            display: block;
            width: 20%;
            height: 100%;
            object-fit: fill;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footerContent {
        height: auto;
        border-radius: 5px;
        margin: 0 3px 0 3px;

        display: flex;
        justify-content: space-around;
        text-align: center;

        font-size: 1.6rem;
    }
}
